[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/bundle/bbye"]
	path = vim/bundle/bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "vim/bundle/eunuch"]
	path = vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/airline-themes"]
	path = vim/bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "spacemacs/snippets"]
	path = spacemacs/snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "spacemacs/layers/japanese"]
	path = spacemacs/layers/japanese
	url = https://github.com/kenjimyzk/spacemacs-japanese
[submodule "spacemacs/layers/calendar"]
	path = spacemacs/layers/calendar
	url = git@github.com:dudelson/spacemacs-calendar-layer.git
[submodule "awesome/lain"]
	path = awesome/lain
	url = https://github.com/lcpz/lain
[submodule "awesome/freedesktop"]
	path = awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop
[submodule "awesome/awesome-switcher"]
	path = awesome/awesome-switcher
	url = https://github.com/berlam/awesome-switcher
